:root {
    --paradise-pink: #ef476fff;
    --orange-yellow-crayola: #ffd166ff;
    --caribbean-green: #06d6a0ff;
    --blue-ncs: #118ab2ff;
    --lavender-grey: #c1b8c8;
    --midnight-green-eagle-green: #073b4cff;
    --rdv-bg: var(--caribbean-green);
    --rdv-fg: var(--midnight-green-eagle-green);
    --bg: var(--lavender-grey);
}

body {
    background-color: var(--bg);
    font-family: sans-serif;
}

.calendar>.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar>.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: black solid 2px;
}

.week>.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.week>.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    border: black solid 2px;
}

.calendar-cell {
    border: black solid 1px;
}
.calendar-cell:hover {
    background-color: #d7d7d7;
}

.cell-label {
    margin: .5em;
}

.rendez-vous {
    background-color: var(--rdv-bg);
    color: var(--rdv-fg);
    padding: .3em 1em .3em 1em;
    margin: .3em .2em;
    cursor: pointer;
    /* padding-left: 1em;
    padding-right: 1em; */
}
.rendez-vous.hover {
    filter: brightness(130%)
}
.rendez-vous.start {
    border-radius: .5em 0 0 .5em;
    margin-right: 0;
}
.rendez-vous.end {
    border-radius: 0 .5em .5em 0;
    margin-left: 0;
}
.rendez-vous.none {
    border-radius: .5em;
}
.rendez-vous.middle {
    margin-left: 0;
    margin-right: 0;
}

#modal {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;;
    background-color: #00000044;
}
#modal.open {
    display: block;
}
.modal-close {
    font-weight: bolder;
}
.modal-close:hover {
    cursor: pointer;
    user-select: none;
    color: #535353;
}

.modal-content {
    border-radius: .5em;
    display: block;
    margin: 5% auto 15% auto;
    padding: 20px;
    width: 30%;
    background-color: white;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-header>p {
    display: inline;
    float: right;
    margin-top: 0;
}
.modal-header>h1 {
    display: inline;
}

label {
    display: block;
    margin: 1em 0 .2em 0;
}
input, textarea {
    margin: .5em;
}

input[type=text] {
    border: grey solid 1px;
    border-radius: .2em;
    height: 2em;
}
input[type=datetime-local] {
    border: grey solid 1px;
    border-radius: .2em;
    height: 2em;
}
textarea {
    border: grey solid 1px;
    border-radius: .2em;
    min-height: 4em;
    height: 4em;
    max-height: 20em;
    resize: vertical;
}

form {
    display: grid;
}

#select-view {
    width: 20%;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.main {
    background-color: white;
}

/* .day-row {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
} */

.lesser {
    background-color: #bab9b9;
}