:root {
    --paradise-pink: #ef476fff;
    --orange-yellow-crayola: #ffd166ff;
    --caribbean-green: #06d6a0ff;
    --blue-ncs: #118ab2ff;
    --lavender-grey: #c1b8c8;
    --midnight-green-eagle-green: #073b4cff;
    --rdv-bg: var(--caribbean-green);
    --rdv-fg: var(--midnight-green-eagle-green);
    --bg: var(--lavender-grey);
}

body {
    background-color: var(--bg);
}

.calendar-cell {
    height: 8em;
    max-height: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;
    background-color: white;
}

.calendar-header {
    background-color: var(--caribbean-green);
}

.rendez-vous {
    justify-content: left;
    padding: .2em;
    padding-left: .5em;
    border-radius: .4em;
    margin-bottom: .1em;
    color: var(--rdv-fg);
    background-color: var(--rdv-bg);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}